{{outlet}}

<section class="row ctas">
    
    <div class="col-xs-12 col-md-4">
	    <article class="cta discover">
	        <img src="/img/home/1.jpg" alt="Discover new festivals">
	        <span class="text">
	            <h1>Discover</h1>
	            <p>new festivals based on your favourite music and what your friends are doing</p>
	        </span>
	    </article>
    </div>
    
    <div class="col-xs-12 col-md-4">
	    <article class="cta create">
	        <img src="/img/home/2.jpg" alt="Create a festival schedule">
	        <span class="text">
	            <h1>Create</h1>
	            <p>campsites and schedules with friends to keep track of who you want to see</p>
	        </span>
	    </article>
    </div>
	
	<div class="col-xs-12 col-md-4">
	    <article class="cta plan">
	        <img src="/img/home/3.jpg" alt="Plan your festival">
	        <span class="text">
	            <h1>Plan</h1>
	            <p>your time with your friends effectively with personal &amp; camp schedules</p>
	        </span>
	    </article>
    </div>

</section>

    {{!-- <p class="tcenter">
    	<a href="/auth/login/" class="button button--superlarge button--wide">Login</a>
        &nbsp;&nbsp;
    	<a href="/auth/register/" class="button button--superlarge button--wide">Register</a>
    </p> 

    <span class="clear"></span> --}}
