

<div class="container">
  <h4>Because you're new...</h4>
<br>
  {{outlet}}
  <section class='user-content'>

    <form class="form-horizontal">


    <div class="form-group">
      <label class="control-label">Username</label>
      <div class="col-sm-10">
        <span class='static'>username</span>
        {{#link-to "index" class="btn btn-small pad-left no-text"}}<i class="fa fa-pencil"></i>{{/link-to}}
        <div class='instructions'>
          People can mention you as @username
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Email</label>
      <div class="col-sm-10">
        <span class='static'>email@trst.vom</span>
        {{#link-to "index" class="btn btn-small pad-left no-text"}}<i class="fa fa-pencil"></i>{{/link-to}}
        <div class='instructions'>
          Never shown to the public
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label">Profile Picture</label>
      <div class="col-sm-10">
        {{bound-avatar session.account "large"}}
        {{#link-to "index" class="btn btn-small pad-left no-text"}}<i class="fa fa-pencil"></i>{{/link-to}}
      </div>
    </div>

    </form>
  </section>

</div>
